<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='main.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="logo">Uflix</a>
    </nav>
    <header class="header">
      <div class="container">
        <div class="header-container">
          <h1 class="heading">Unlimited Movies</h1>
          <p>Ready to watch?</p>
          <p>Enter a movie title to search for your favourite movies.</p>
          <form id="search-form" action="/recommendation" method="POST">
            <div class="search-container">
              <input
                type="search"
                name="search"
                id="search"
                placeholder="Search by movie title"
              />
            </div>
            <small>Press Enter to Search</small>
            <!-- <button type="submit">Search</button> -->
          </form>
        </div>
      </div>
    </header>
    {% if status %}
    <div id="recommendations" class="container">
      <nav class="result-navbar">
        <a href="/">All</a>
        <a href="/">Recommended</a>
      </nav>
      <div class="movies-container">
        {% for movie in recommendations[0:10] %}
        <div class="movie">
          <img src={{"https://image.tmdb.org/t/p/original" + movie.poster_path}}
          alt={{ movie.title}} width="200px" height="200px">
        </div>
        {% endfor %}
      </div>
    </div>
    <footer class="footer">
      <p>&copy; 2023 CSC 407 - Group 4</p>
    </footer>
    {% endif %}
  </body>
</html>
